@use "../../styles/mixins";

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: min(100%, 80rem);
	margin-inline: auto;
	gap: 2rem;
}

.win {
	background-color: lightblue;
}

.loss {
	background-color: orangered;
}

.winner {
	width: 5rem;
}
.match {
	display: flex;
	text-align: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	min-width: 20rem;
	max-height: 4rem;
}
