$bg: #f8fff4;
$text: black;
$button_color: #e0e3c8;
$outline: black;
$water_color: #669bbc;
$enemy_water_color: #cdd0bd;
$hit_color: #c1121f;
$targeting_color: #780000;
$text_color: white;
$ship_color: darkslategrey;
